.project_containers{
    display: grid;
    grid-template-columns: 200px 2.5fr 190px;
    width: 100%;
}
.side_nav{
    display: flex;
    padding-top: 51px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    height: 100vh;
    border-right: 2px solid rgb(225, 214, 214);
    background-color: rgb(247, 247, 247);
    /* justify-content: center; */
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -50px;
    justify-content: flex-start;
    background-color: #fff;
}
.link_btn:hover{
    color: blue !important;
}
.team_nav h5{
    /* text-align: center; */
    font-size: 15px;
    font-weight: 600;
    color: blueviolet;
}
.team_nav{
    display: flex;
    width: 200px;
    flex-direction: column;
    padding: 10px 20px;
    border-left: 2px solid rgb(225, 214, 214);
    background-color: rgb(247, 247, 247);
}
.img{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    transition: 0.3s;
}
.nav_bar{
    border-bottom: 1px solid rgb(231, 228, 228) !important;
}
.img div:hover{
    color: blueviolet;
    transition: 0.5s;
}
.project_nav{
    padding: 0 20px;
}
.project_nav h2{
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(18, 25, 83);
    margin-bottom: 0px;
}
.filters{
    display: flex;
    gap: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(225, 217, 217);
    margin-bottom: 25px;
    border-radius: 10px;
    transition: 0.4s;

}
.filters span:hover{
    color: blueviolet;
    cursor: pointer;
}
.projects{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.pro_card{
    width: 29%;
    color:#eae9e9;
    background-color: rgb(49, 189, 189);
    box-shadow: 10px 16px 20px rgba(0,0,0,0.3);
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}
.completed{
    background-color: rgb(238, 211, 1) !important;
}
.pro__title{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.pro__date{
    font-size: 13px;
    padding: 7px 0;
    color: rgb(228, 59, 59);
    border-bottom: 1px solid rgb(219, 216, 216);
    margin-bottom: 30px;
}
.completed .progress{
    font-weight: 600;
}
.completed .pro__date{
    color: green;
}
.progress{
    padding: 10px 0;
}
.teams{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.teams img{
    /* padding: 10px; */
    margin-left: -10px;
}
.notify_me{
    position: relative;
}
.notify_num{
    position: absolute;
    top: 5px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 7px;
    width: 5px;
    height: 5px;
    color: white;
    font-weight: 700;
    border-radius: 50%;
}
.auth-div{
    position: relative;
}
.notifications{
    position: absolute;
    width: 300px;
    top: 40px;
    right: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 8px;
    display: none;
}
.notify_new{
    background-color: rgb(225, 216, 216);
    padding: 5px;
    border-radius: 5px;
}
.notify_old{
    padding: 5px;
}
.display_me{
    display: block !important;
}
.read,
.unread{
    font-size: 13px;
    border-bottom: 1px solid rgb(226, 226, 226);
    line-height: 1.5;
    margin-bottom: 10px;
}
.read{
    color: rgb(49, 48, 48);
}
.unread{
    color: rgb(38, 66, 29);
}
.new{
    color: green !important;
}
.new,
.old{
    font-size: 15px;
    font-weight: 400;
    color: grey;
    margin-bottom: 10px;
}